body{
    width: 600px;
    margin: 20px auto;
    font-family: sans-serif;
}

h2 {
    font-size: 39px;
    line-height: 43px;
}
article img {
    float: left;
    margin-right: 30px;
}

article h2 {
    font-size: 39px;
}
.preview{
    float: right;
    width: 400px;
}